
@{
    ViewBag.Title = "Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">Đặt hàng thành công</div>
<div class="services section-background">
    <div class="container">
        <div class="card shadow mb-4">

            <div class="card-body">
                
                <div class="alert alert-success">Đặt hàng thành công</div>

            </div>

        </div>


    </div>
</div>
