
@{
    ViewBag.Title = "ER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger">Lỗi đặt hàng</div>
<div class="services section-background">
    <div class="container">
        <div class="card shadow mb-4">

            <div class="card-body">

                <div class="alert alert-danger">Lỗi rồi</div>

            </div>

        </div>


    </div>
</div>
